{% extends 'store/main.html' %}
{% load static %}

{% block content %}

    <div class="container-fluid">
        <div class="femaleshop" style="background-image: url({% static 'images/femaleshop.jpg' %})">
            <p id="femalechoose">Choose from the wide collection of fashionable clothes</p>
        </div>
    </div>

    <div class="container">
        <div class="row mb-5">
            <div class="col-md-4 smallpics">
                <div class="row m-1">
                    <img class="pics" src="{% static 'images/pic2.png' %}" alt="">
                    <p class="pics__paragraph">Ideal T-shirts</p>
                </div>
                <div class="row m-1">
                    <img class="pics" src="{% static 'images/pic3.png' %}" alt="">
                    <p class="pics__paragraph">Summer Accessories</p>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row m-1">
                    <img class="pics" src="{% static 'images/pic1.png' %}" alt="">
                    <p class="pics__paragraph">Male Wardrobe</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="maleshop" style="background-image: url({% static 'images/maleshop.jpg' %})">
            <p id="malechoose">Stylish and always on TOP</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <h3 class="col-lg-12 text-center mb-3 mt-4">Top products</h3>
            {% for product in products %}
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="box-element product">
                        <img class="thumbnail" src="{% static product.imageURL %}" alt="">
                        <div class="box-element product">
                            <h6><strong>{{ product.name }}</strong></h6>
                            <hr>
                            <button data-product="{{ product.id }}" data-action="add"
                                    class="btn btn-outline-secondary add-btn update-cart">Add to Cart
                            </button>
                            <a class="btn btn-outline-success" href="{% url 'product' product.id %}">View</a>
                            <h5 style="display: inline-block; float: right"><strong>{{ product.price|floatformat:2 }}
                                USD</strong></h5>

                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>

        <div class="row">
            <h3 class="col-lg-12 text-center mb-3 mt-5">Departments</h3>
            {% for department in departments %}
                <div class="col-sm m-5">
                    <img style="border: gray solid 2px; border-radius: 5px" class="" height="100%" width="100%" src="{% static department.imageURL %}" alt="">
                    <a href="{% url 'department' department.id %}"><h4
                            class="text-center mt-2">{{ department.dep_name }}</h4></a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
